
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --menu-bg:#354044;        
  --main-bg:#f5f5f5;        
  --card-bg:#f2f1ed;       
  --cat-active:#5E7C8A;
  --edit:#5F7F63;
  --delete:#8F4A3A;
  --action:#c7853a;         
}


