
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --menu-bg:#354044;        
  --main-bg:#f5f5f5;        
  --card-bg:#f2f1ed;       
  --cat-active:#578a37;    
  --edit:#01a57c;          
  --delete:#b4351b;       
  --action:#945a17;         
}


